.pagination {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: var(--space-lg);
  margin-bottom: var(--space-lg);
}

app-products-grid {
  --grid-justify-items: center;
}
