<ui-main-template>
  <section main>
    @if (productsResponse(); as productsResponse) {
      <section class="pagination">
        <ui-pagination-controls
          [currentOrder]="queryParams().order"
          [currentPageSize]="queryParams().limit"
          [currentSort]="'id'"
          [pageSizes]="[3, 6, 9]"
          [sortOptions]="[
            { value: 'id', label: 'Id' },
            { value: 'price', label: 'Price' },
          ]"
          (orderChange)="updateParams({ order: $event })"
          (pageSizeChange)="updateParams({ limit: $event })"
          (sortChange)="updateParams({ sort: $event })"
        ></ui-pagination-controls>
        <ui-pagination
          [currentPage]="queryParams().page"
          [hasNextPage]="productsResponse.metadata.hasNextPage"
          [hasPrevPage]="productsResponse.metadata.hasPreviousPage"
          [totalPages]="productsResponse.metadata.totalPages"
          (pageChange)="
            updateParams({
              page:
                $event === 'next'
                  ? queryParams().page + 1
                  : queryParams().page - 1,
            })
          "
        ></ui-pagination>
      </section>

      <ui-grid>
        @for (product of productsResponse.data; track product.id) {
          <ui-product [product]="product"></ui-product>
        }
      </ui-grid>
    }
  </section>
</ui-main-template>
