<ui-header>
  <section logo>Logo</section>
  <nav slot="navigation">
    <ul>
      <li><a routerLink="">Products</a></li>
      <li><a routerLink="products-side">Products Side</a></li>
    </ul>
  </nav>
  <section actions>
    @if (user() !== undefined) {
      <a class="link" routerLink="cart">
        <ui-cart-icon [count]="cartCount()"></ui-cart-icon>
      </a>
      <a class="link" routerLink="logout">
        <auth-status-icon [isAuthenticated]="true"></auth-status-icon>
      </a>
    } @else {
      <a class="link" routerLink="login">
        <auth-status-icon [isAuthenticated]="false"></auth-status-icon>
      </a>
    }
    <ui-dark-mode-toggle></ui-dark-mode-toggle>
  </section>
</ui-header>
<router-outlet></router-outlet>
<app-toaster-smart></app-toaster-smart>
