section[actions] {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

.link {
  &:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
  }

  &:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
  }
}

ui-cart-icon {
  margin-right: var(--space-xxs);
}
