<ui-header>
  <section logo>Logo</section>
  <nav slot="navigation">
    <ul>
      <li><a routerLink="">Products</a></li>
    </ul>
  </nav>
  <section actions>
    @if (isAuthenticated() === undefined) {
      <a class="auth-link" routerLink="login">
        <ui-auth-status-icon [isAuthenticated]="false"></ui-auth-status-icon>
      </a>
    } @else {
      <ui-auth-status-icon
        [isAuthenticated]="true"
        (click)="logout()"
      ></ui-auth-status-icon>
    }

    <ui-dark-mode-toggle></ui-dark-mode-toggle>
  </section>
</ui-header>
<router-outlet></router-outlet>
